body {
    text-align: center;
    width: 250px;
    font-size: 100%;
    background-color: #232b3b;
    color: white;
    font-family: 'Open Sans', sans-serif;
}

button {
    background-color: #e42b12;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 2px;
    cursor: pointer;
    border: outset 1px #e42b12;
}

button[disabled] {
    background-color: #e1e1e1;
    color: #939393;
    border: inset 1px #e1e1e1;
}

a {
    text-decoration: none;
}

ul.list-inline {
    list-style: none;
    padding-left: 0;
}

ul.list-inline li {
    display: inline;
    margin-left: 5px;
    margin-right: 5px;
}

#funnelback-controls .active {
    font-weight: bold;
}

#funnelback-controls small {
    color: #939393;
}
